<form action="" class="form" [formGroup]="newDepartmentForm" (ngSubmit)="addDepartment()">
  <label>
    Department Name
    <input type="text" formControlName="name">
  </label>
  <label>
    Date of foundation
    <input type="date" formControlName="foundationDate">
  </label>
  <label>
    Founder
    <input type="text" formControlName="founder">
  </label>
  <label>
    Numbers of Employees
    <input type="number" formControlName="employeesNumbers">
  </label>
  <button type="submit"
          [disabled]="newDepartmentForm.invalid">Add new department</button>
</form>
