<p>department-new works!</p>
<form action="" class="form" [formGroup]="newDepartmentForm" (ngSubmit)="addDepartment()">
  <label>
    <input type="number" formControlName="id">
    Id
  </label>
  <label>
    <input type="text" formControlName="name">
    Department Name
  </label>
  <label>
    <input type="date" formControlName="foundationDate">
    Date of foundation
  </label>
  <label>
    <input type="text" formControlName="founder">
    Founder
  </label>
  <label>
    <input type="number" formControlName="employeesNumbers">
    Numbers of Employees
  </label>
  <button type="submit" routerLink="/department"
          [disabled]="newDepartmentForm.invalid">Add new department</button>
</form>
